@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  overflow-x: hidden;
}

/* 隐藏滚动条但保留滚动功能（让页面更简约） */
::-webkit-scrollbar {
  display: none;
}

/* 针对移动端的点击高亮优化 */
* {
  -webkit-tap-highlight-color: transparent;
}